@import "/style/garden/gardensc.css";

.headerdark{
    background-color: #313131;
    background-image: url("bg.jpg");
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    color: #E0E0E0;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
    //border-bottom: 2px solid #10FF00;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.7);
}
.danger_field{
    width: 100%;
    height: 10px;
    background-image: url("line.png");
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.7);
}
.myhide{
    /*transform: translate(0,-100px);*/
    margin-top: -100px;
}
.hideconsole{
    /*transform: translate(0,-100px);*/
    margin-top: -9999px;
    opacity: 0;
}
#console{
    color: white;
    background-color: #2b2b2b;
    font-family: monospace;
    transition: all 1s ease;
    text-align: left;
}
body{
    margin: 0;
    background-color: #919191;
    background-image: url(bglogo.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 25%;
	background-attachment:fixed;
}
html{
	height:100%;
}
#admintools{
    margin-top: 10px;
    padding: 10px;
    border-top: 1px #91151b solid;

}
#container{
    height: 90%;
    padding-top: 10px;
    min-height: 500px;
}
.photomc{
    border-radius: 5px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.4);
    background: url("/style/nophoto.png") no-repeat center;
    background-size: contain;
}
.leftmc,.rightmc{
    padding:5px;
 }
.dangermc{
    width: 100%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    background-color: #ccc;
    color: red;
}
.rainmc, .snowmc, .overcastmc, .clearskymc{

}
.weathermc{
    text-align: center;
    font-weight: bold;
    background-color: #ccc;
    padding: 0px;
}
.wactmc{
    color: green;
    text-shadow: 0 0 5px rgba(10,200,10,0.5);
}
.activemc,.statusmc,.descriptionmc,.namemc{
    width: 100% !important;
    text-align: center;
    border: 1px solid grey;
    background-color: #ccc;
}
.monster .panel-body{
    display: none;
}
@media (max-width: 768px) {
    .descriptionmc{
        /*min-height: 150px;*/
        /*max-height: 150px;*/
    }
}
@media (min-width:768px) and (max-width: 992px) {
    .descriptionmc{
        min-height: 250px;
        max-height: 250px;
    }

}
@media (min-width:992px) and (max-width: 1200px) {
    .descriptionmc{
        min-height: 130px;
        max-height: 130px;
    }

}
@media (min-width:1200px) {
    .descriptionmc{
        min-height: 86px;
        max-height: 86px;
    }

}
#admintools{
    display: none;
}
#addmc{
    display: none;
    padding: 10px;
    border-top: 1px solid red;
}
#menu{
    margin-bottom: 10px;
}
@keyframes logo {
    0%{transform: rotateX(0deg);}
    5%{transform: rotateX(360deg);}
    100%{transform: rotateX(360deg);}
}
.logo{
    transform-style: preserve-3d;
    transform-origin: center;
    margin-top: 15px;
    font-weight: bold;
    line-height: 32px;
    font-size: 130%;
    color: orange;
    text-shadow: 0 0 10px orange;
    animation: logo;
    animation-delay: 10s;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
#loginform{
    padding: 10px;
    border-top: 1px solid red;
    display: none;
}
#mc_lvl{

}
#fancytemp{
    display: none;
}
.headermc{
    cursor: pointer;
}
#mc_temp_val, #mc_wind_speed_val, #mc_livetime_val,
#mc_speed_val, #mc_distance_val, #mc_respawn_val, #mc_direction_val{
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.addmclabel{
    display: inline-block;
    border: 1px red solid;
    font-size: 120%;
    padding: 0px 20px;
    position: relative;
    right: 12px;
    top: 5px;
    float: right;
}
.addmclabel.ok{
    border: 1px greenyellow solid;
}
.user_card_wrapper{
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}
.user_card {
    height: 100%;
    border-right: 1px #888 solid;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 10px 0 20px 0px rgba(200,200,200,0.2);
    background: #4c4c4c;
    background: -moz-linear-gradient(top, #777 0%,#444 30%,#000000 100%);
    background: -webkit-linear-gradient(top, #777 0%,#444 30%,#000000 100%);
    background: linear-gradient(to bottom, #777 0%,#444 30%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}
.user_card_photo{
    height: 50px;
    width: 50px;
    box-shadow: 2px 2px 10px 0 rgba(200,200,200,0.4);
    margin-right: 5px;
    background: url("/style/nophoto.png") no-repeat center;
    background-size: cover;
}

.user_card_desc{
    height: 50px;
}
h2.card_title{
    font-size: 26px;
    margin-top: 8px;
    line-height: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
h3.card_status{
    font-size: 10px;
    line-height: 0px;
    margin: 0px;
    color: grey;
    font-family: 'GardensC';
    text-transform: uppercase;
    font-weight: bold;
}
h3.card_status_on{
    color: greenyellow;
    text-shadow: 0 0 5px rgba(50,255,50,0.5);
}
h3.card_status_off{
    color: red;
    text-shadow: 0 0 5px rgba(255,50,50,0.5);
}
.emocode{
    position: absolute;
    top: 2px;
    right: 0px;
    height: 50px;
    line-height: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90%;
    text-align: center;
}
.code_f {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 50px;
    line-height: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90%;
    text-align: center;
 }
.emo_up{
    color: greenyellow;
    text-shadow: 0 0 5px rgba(50,255,50,0.5);
}
.emo_down{
    color: red;
    text-shadow: 0 0 5px rgba(255,50,50,0.5);
}
.emo_n{
    color: #fff;
}
#usercard{
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    border-top: black solid 2px;
    font-family: 'Quicksand', sans-serif;
    display: none;

}
#usercard-g{
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
    border-top: black solid 2px;
    font-family: 'Quicksand', sans-serif;
    display: none;

}
.uc_col{
    height: 100%;
    color: whitesmoke;
    line-height: 20px;
    padding: 0px;
    padding-bottom: 15px;
}
.uc_wrapper{
    height: 100%;
    padding: 0;
}
.uc_col_left{
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    padding-top: 15px;
}
.uc_photo{
    height: 150px;
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
    max-width: 150px;
    margin: 0px auto;
    margin-bottom: 10px;
    background: url("/style/nophoto.png") no-repeat center;
    background-size: cover;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.7);

}
.btn{
    margin-top: 5px;
}
.test{
    border:1px solid red;
}
.uc_emo_slider{
    margin: 15px auto;
    height: 170px !important;
}
.uc_emocontrol{
    padding: 0px;
}
.uc_card{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#701717+0,aa2525+48,5b0404+76,930101+100 */
    background: #701717; /* Old browsers */
    background: -moz-linear-gradient(top,  #701717 0%, #aa2525 48%, #5b0404 76%, #930101 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #701717 0%,#aa2525 48%,#5b0404 76%,#930101 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #701717 0%,#aa2525 48%,#5b0404 76%,#930101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#701717', endColorstr='#930101',GradientType=0 ); /* IE6-9 */

}
.uc_emo{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
    margin-bottom: 15px;
}
.uc_emo_val{
    text-align: center;
}
.uc_weather{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    margin-bottom: 15px;
}
.uc_title{
    margin-bottom: 15px;
}
.uc_col_weather{

}
.uc_login, .uc_name, .uc_title{
    text-transform: uppercase;
}
#sysmsg, #emer_code{
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    margin-bottom: 15px;
    transition: all 1s ease;
}
.sys_err{
    background: #91151b;
}
.sys_ok{
    background: #1e9126;
}
.code_off {
    opacity: 0.3;
}
.red_code {
    color: red;
    font-weight: bold;
}
.orange_code {
    color: orange;
    font-weight: bold;
}
.green_code {
     color: greenyellow;
     font-weight: bold;
 }
.uc_code {
    font-size: 9px;
    font-family: sans-serif;
}
.uc_played{

}
.uc_status_code{
    color: white;
}
#tooltip {
    z-index: 10000;
    position: absolute;
    display: none;
    top:0px;
    left:0px;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    color: grey;
    opacity: 0.8;
}
.label-disabled{
    opacity: 0.3;
}
.btn_clsuc{
    margin-bottom: 15px;
}
#trend {	
    display: none;
    transition:opacity 1s ease;
}
#hgmap{
    display: none;
}
.wind_rose_trend{
    height: 366px;
    display: none;
}
.wind_trend{
    display: none;
}
.transparent{
    opacity:0;
}
.status_msg_val{
    font-family: 'Quicksand', sans-serif;
    font-size: 80%;
}
.uc_col_weather_g{
    max-height: 380px;
    overflow-y: scroll;
}
.code_msg{
    text-align: center;
    font-size: 80%;
    color: white;
    border-radius: 0 0 3px 3px;
    position: absolute;
    bottom: -15px;
    width: 98%;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.7);
    background-color: #333;
}
#widget_weather .code_msg{
    width: 95%;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.7);
    background-color: #555;
}

.beenonline{
    font-size: 11px;
    color: #aaa;
}
.weather_desc{
    height: 50px;

}
.weather_icon{
    height: 100%;
    width: 100%;
    background-image: url("/weather/codes/w1000.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#weather_card{
    display: none;
    text-shadow: 5px 5px 20px black;
}

.wc_weather_icon{
    position: relative;
    height: 150px;
    /* width: 150px; */
    background-image: url("/weather/codes/w1000.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
}
.wc_weather_desc {
    font-size: 25px;
    text-transform: uppercase;
    margin: 10px 0;
}
.wc_temp_min{
    background-image: url("/weather/tmin.png");
    background-position: center center;
    height: 48px;
    width: 48px;
}
.wc_temp_max{
    background-image: url("/weather/tmax.png");
    background-position: center center;
    height: 48px;
    width: 48px;
}
.wc_t_big{
    font-size: 28px;
    font-weight: bold;
    display: block;
}
.mydevider{
    margin: 5px 0;
    border-bottom: 1px grey solid;
}
.wc_sun_up{
    background-image: url("/weather/36.png");
    background-position: center center;
    background-size: cover;
    height: 48px;
    width: 48px;
}
.wc_sun_down{
    background-image: url("/weather/31.png");
    background-position: center center;
    background-size: cover;
    height: 48px;
    width: 48px;
}
.wc_drop{
    background-image: url("/weather/humidity.png");
    background-position: center center;
    background-size: cover;
    height: 48px;
    width: 48px;
}
.wc_wind{
    background-image: url("/weather/wind.png");
    background-position: center center;
    background-size: cover;
    height: 48px;
    width: 48px;
}
.wc_baro{
    background-image: url("/weather/baro.png");
    background-position: center center;
    background-size: cover;
    height: 48px;
    width: 48px;
}
.wc_compass{
    background-image: url("/weather/compass.png");
    background-position: center center;
    background-size: cover;
    height: 48px;
    width: 48px;
}
.wc_clouds{
    background-image: url("/weather/cloud.png");
    background-position: center center;
    background-size: cover;
    height: 48px;
    width: 48px;
}
.wc_wind_dir{
    background-image: url("/images/wind_arrow_w.png");
    background-position: center center;
    background-size: cover;
    height: 90px;
    width: 90px;
}
.wc_main_temp{
    font-size: 4em;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.forecast_container {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    /*display: none;*/
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #333;
}
::-webkit-scrollbar-thumb {
    background: #111;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #000;
}
.f_t_small{
    font-size: 10px;
    color: darkgrey;
}
.forecast_item {
    width: 130px;
    border: 2px grey outset;
    border-radius: 10px;
    padding: 10px 5px;
    background: #4c4c4c;
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.6);
    margin: 0px 5px;
    margin-bottom: 10px;
    display: inline-block;
}
.forecast_item_warn{
    border: 2px #54403a outset;
    background: #54403a; /* Old browsers */
    background: -moz-linear-gradient(top, #54403a 0%, #bf742a 45%, #894d04 53%, #b5631c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #54403a 0%,#bf742a 45%,#894d04 53%,#b5631c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #54403a 0%,#bf742a 45%,#894d04 53%,#b5631c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54403a', endColorstr='#b5631c',GradientType=0 ); /* IE6-9 */
}
.forecast_item_dng{
    border: 2px #3a0000 outset;
    background: #3a0000; /* Old browsers */
    background: -moz-linear-gradient(top, #3a0000 0%, #ba211b 46%, #7a0303 52%, #70191b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3a0000 0%,#ba211b 46%,#7a0303 52%,#70191b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3a0000 0%,#ba211b 46%,#7a0303 52%,#70191b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a0000', endColorstr='#70191b',GradientType=0 ); /* IE6-9 */
}
.f_item_icon{
    position: relative;
    height: 50px;
    /* width: 150px; */
    background-image: url("/weather/36.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
    left: -38px;
}
.f_item_temperature {
    font-size: 1.6em;
    position: relative;
    top: -33px;
    right: -24px;
}
.f_item_humidity_i{
    background-image: url("/weather/humidity.png");
    background-position: center center;
    background-size: cover;
}

.f_item_wind_i{
    background-image: url("/weather/wind.png");
    background-position: center center;
    background-size: cover;
}

.f_item_winddir_i{
    background-image: url("/weather/compass.png");
    background-position: center center;
    background-size: cover;
}

.f_item_baro_i{
    background-image: url("/weather/baro.png");
    background-position: center center;
    background-size: cover;
}
.f_item_humidity_i,.f_item_wind_i,.f_item_winddir_i,.f_item_baro_i{
    height: 24px;
    width: 24px;
    margin: 10px 0px;
    /*display: inline-block;*/
}
.f_item_humidity_val,.f_item_wind_val,.f_item_winddir_val,.f_item_baro_val{
    /*display: inline;*/
    position: relative;
    top: 0px;
    line-height: 36px;

}
.f_item_left{
    width: 15%;
    float: left;
    margin-right: 5px;
    margin-left: 10px;
}
.f_item_right{
    width: 70%;
    float: right;
}
.f_item_desc_val {
    font-size: 18px;
    position: relative;
    /*top: -20px;*/
    text-transform: uppercase;
    height: 45px;
    width: 100%;
    display: inline-block;
    white-space: initial;
}
.f_item_header {
    height: 16px;
    background-color: grey;
    position: relative;
    z-index: 9999;
    width: 109%;
    left: -6px;
    top: -11px;
    border-radius: 10px 10px 0px 0px;
    font-size: 70%;
    line-height: 107%;
    padding: 2px;
}
.f_item_header_warn{
    background-color: #C38701;
}
.f_item_header_dng{
    background-color: #c30003;
}
.f_item_timestamp_val{
    background-color: #404040;
    border-radius: 5px;
    font-size: 70%;
    line-height: 105%;
    padding: 2px;
}
.btn_f_item_more{
    position: absolute;
    right: 0px;
    width: 36px;
    z-index: 9999;
}
.btn_f_wind{
    position: absolute;
    right: 0px;
    top: 60px;
    width: 36px;
    z-index: 9999;
}
.btn_f_wind_a{
    position: absolute;
    right: 0px;
    top: 100px;
    width: 36px;
    z-index: 9999;
}
#privatelog{
    overflow-x: auto;
}
#log_private_list{
    font-size: 10px;
    color: #fff;
}
#privatelog tr:nth-of-type(odd){
    background-color: gray;
    color: wheat;
}
a{
    font-weight: bold;
    color: orange;
}
a:hover{
    font-weight: bold;
    text-transform: uppercase;
    color: #bfd255;
}
.uc_col_weather_g p.emo_title + h2{
    margin-bottom: 100px;
}
.uc_msg_container{
    display: none;
}
#usermap {
    height: 300px;
    width: 100%;
    border-radius:10px;
    border: 3px grey outset;
}
#hgmapcontainer{
	width:100%;
	height:400px;
	border:1px grey solid;
}
.mc_lat{
    font-size: 0.7rem;
}
.mc_lng{
    font-size: 0.7rem;
}
.mc_lat .value{
    color: orange;
}
.mc_lng .value{
    color: orange;
}