<div class="forecast_item">
    <div class="f_item_header"></div>
    <div class="f_item_icon"></div>
    <div class="f_item_temperature">---</div>
    <div class="f_item_desc_val">---</div>
    <div class="row">
        <div class="f_item_left">
            <div class="f_item_humidity_i"></div>
            <div class="f_item_wind_i"></div>
            <div class="f_item_winddir_i"></div>
            <div class="f_item_baro_i"></div>
        </div>
        <div class="f_item_right">
            <div class="f_item_humidity_val">---</div>
            <div class="f_item_wind_val">---</div>
            <div class="f_item_winddir_val">---</div>
            <div class="f_item_baro_val">---</div>
        </div>
    </div>
    <div><div class="f_item_timestamp_val">---</div></div>
</div>