
<table class="table table-bordered table-responsive table-condensed">
    <thead>
        <tr>
            <td>Логин</td>
            <td>Широта</td>
            <td>Долгота</td>
            <td>Точность</td>
            <td>Система</td>
            <td>Браузер</td>
            <td>Устройство</td>
            <td>Время</td>
            <td>Регион</td>
            <td>Город</td>
            <td>Провайдер</td>
            <td>IP адрес</td>
        </tr>
    </thead>
    <tbody id="log_private_list"></tbody>
</table>
<button class="btn btn-danger btn_clspriv"><i class="fa fa-close"></i>Закрыть</button>